html {
  box-sizing: border-box;
}

body {
  font-family: "Bacasime Antique", serif;
  overflow-x: hidden;
  background-color: #f4f6fc;
}
.header1 {
  background-image: url(src/gym.png);
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 200px 30px;
}
h1 {
  font-size: 55px;
  color: #3e457b;
  margin-top: -10px;
  font-weight: 800;
}
h2 {
  color: #5862a9;
  font-size: 40px;
  opacity: 0.5;
  font-weight: 600;
  margin-bottom: 60px;
}

.BMI-link {
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #5862a9;
  color: #5862a9;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 1px 2px 1px 1px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.BMI-link:hover {
  background-color: #5862a9;
  color: white;
}
.containert {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
}
.box {
  text-align: center;
  max-width: 600px;
  padding: ;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #5862a9;
  margin-bottom: 100px;
}

h3 {
  font-size: 33px;
  padding: 30px 0;
  border-radius: 15px;
  color: #114477;
  font-weight: 600;
}

label {
  font-size: 17px;
  font-weight: 500;
  color: #114477;
  font-family: "Manrope", sans-serif;
}
input {
  font-family: sans-serif;
  font-size: 14px;
}
.Sex {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 20px 50px;
}
.Limi {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  text-align: center;
}

.Age input {
  outline: none;
  border: none;
  border-bottom: 1px solid #003060;
  background-color: #f4f6fc;
  margin-left: 10px;
}

.Scale {
  padding: 0px 0px 20px;
}
.Scale label {
  margin-left: -10px;
}
.Scale input {
  outline: none;
  border: none;
  border-bottom: 1px solid #003060;
  background-color: #f4f6fc;
  margin-bottom: 25px;
  margin-left: 5px;
}

.BMI-result {
  font-size: 18px;
  font-weight: 600;
  color: #003060;
  margin-top: 10px;
}
.calculate-BMI {
  text-decoration: none;
  background-color: #114477;
  padding: 12px 25px;
  border-radius: 5px;
  color: #f4f6fc;
  font-weight: 600;
  border: none;
  transition: all 200ms ease-in-out;
}
.clear {
  padding: 12px 37px;
}
.calculate-BMI:hover {
  box-shadow: 0.5px 0.5px 0.5px 1px #003060;
  color: #003060;
  background-color: #f4f6fc;
}
.result {
  background-color: #f4f6fc;
  border-radius: 20px;
  margin-left: 180px;
  margin-right: 180px;
  padding: 10px;
  font-size: 20px;
}
.W-BMI {
  margin-bottom: 150px;
  margin-top: 200px;
}

.design {
  background-color: #5862a9;
  padding: 10px;
  border-radius: 50%;
  margin-top: -25px;
  position: relative;
  z-index: 1;
}

.bodyImg {
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

h4 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #050a30;
}
.BMI-def {
  margin-top: 30px;

  color: #050a30;
}
.design2 {
  background-color: white;
  position: relative;
  margin-bottom: 100px;
}
.units-head {
  display: flex;

  justify-content: space-around;
}
.units-head div {
  padding: 80px 0px 60px;
}
.U,
.M {
  color: #050a30;
  font-size: 25px;
  font-weight: 700;
}
.border-bottom-active {
  border-bottom: 3px solid #5862a9;
}
.hidden {
  display: none;
}
.br {
  padding: 35px 10px;
}
.head-limi {
  font-size: 20px;
  font-weight: 600;
}
i {
  border: 2px solid #5862a9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.BMI-limi {
  border: #5862a9 2px solid;
  width: 29%;
  margin: 0 auto;
  border-radius: 6px;
  margin-bottom: 100px;
  padding: 6px 0px;
}
section {
  padding: 20px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
section.visible {
  opacity: 1;
  transform: translateY(0);
}

section {
  transition: transform 1s ease-out, opacity 1s ease-out;
  opacity: 0;
  transform: translateY(80px);
}

section p.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 550px) {
  .BMI-limi {
    border: #5862a9 2px solid;
    width: 50%;
  }
  BMI-link {
    font-size: 18px;
  }

  .BMI-link {
    background-color: #5862a9;
    color: white;
  }
  .BMI-link:hover {
    border: 2px solid #5862a9;
    color: #5862a9;
    background-color: white;
    box-shadow: 1px 2px 1px 1px;
  }
  .header1 {
    padding: 150px;
  }
  .header1 {
    padding: 150px 40px;
  }
  .box {
    max-width: 340px;
  }
  .result {
    margin-left: 140px;
    margin-right: 140px;
  }
  .header1 {
    background-size: 400%;
  }
}
