html {
  box-sizing: border-box;
}

body {
  font-family: "Bacasime Antique", serif;
  overflow-x: hidden;
  background-color: #f4f6fc;
}
.header1 {
  background-image: url(src/gym.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 200px;
  margin-top: -20px;
  margin-left: -5px;
  margin-bottom: 100px;
}
h1 {
  font-size: 50px;
  color: #5862a9;
  margin-top: -10px;
  font-weight: 800;
}
h2 {
  color: #5862a9;
  font-size: 40px;
  opacity: 0.5;
  margin-bottom: 60px;
}
.head2 {
  margin-left: -140px;
}
.BMI-link {
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #5862a9;
  color: #5862a9;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 1px 2px 1px 1px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.BMI-link:hover {
  background-color: #5862a9;
  color: white;
}
.containert {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
}
.box {
  text-align: center;
  max-width: 600px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #5862a9;
}

h3 {
  font-size: 33px;
  padding: 30px 0;
  border-radius: 15px;
  color: #114477;
  font-weight: 600;
}

label {
  font-size: 17px;
  font-weight: 500;
  color: #114477;
  font-family: "Manrope", sans-serif;
}

.Sex {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 20px 50px;
}

.Age input {
  outline: none;
  border: none;
  border-bottom: 1px solid #003060;
  background-color: #f4f6fc;
  margin-left: 10px;
}

.Scale {
  padding: 0px 0px 20px;
}
.Scale label {
  margin-left: -10px;
}
.Scale input {
  outline: none;
  border: none;
  border-bottom: 1px solid #003060;
  background-color: #f4f6fc;
  margin-bottom: 25px;
  margin-left: 5px;
}

.BMI-result {
  font-size: 18px;
  font-weight: 600;
  color: #003060;
  margin-top: 10px;
}
.calculate-BMI {
  text-decoration: none;
  background-color: #114477;
  padding: 12px 25px;
  border-radius: 5px;
  color: #f4f6fc;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.calculate-BMI:hover {
  border: 2px solid #003060;
  color: #003060;
  background-color: #f4f6fc;
}
.result {
  background-color: #f4f6fc;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  font-size: 20px;
}
.W-BMI {
  margin-bottom: 80px;
  margin-top: 200px;
}

.design {
  background-color: #5862a9;
  padding: 10px;
  border-radius: 50%;
  margin-top: -25px;
}

.bodyImg {
  margin-top: 10px;
}
h4 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #050a30;
}
.BMI-def {
  margin-top: 30px;
  margin-left: 20px;
  color: #050a30;
}
.design2 {
  background-color: white;
  position: relative;
}
.units-head {
  display: flex;

  justify-content: space-around;
}
.units-head div {
  padding: 80px 0px 60px;
}
.U,
.M {
  color: #050a30;
  font-size: 25px;
  font-weight: 700;
}
.border-bottom-active {
  border-bottom: 3px solid #5862a9;
  padding: 5px 60px;
}
